.add .tianjia {
  color: rgb(80, 79, 79);
}
.addye,
.bianjiye,
.huodongguanli,
.addhuodong,
.bianjihuodong,
.huodongye {
  width: 89%;
  margin: 0 auto;
  padding: 10px;
  background: linear-gradient(#fff, pink);
}
.addye .title {
  text-align: center;
  color: blue;
}
.addye .content {
  width: 60%;
  margin: 0 auto;
}
.addye .content > div {
  width: 280px;
  margin: 0 auto;
  margin-top: 20px;
}
.addye .content > div label {
  margin-right: 10px;
}
.addye .content > div:nth-child(3) label {
  margin-right: 40px;
}
.addye .content > .btnbox {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.addye .content > .btnbox button {
  width: 80px;
}
.addye .content .feipei select {
  width: 150px;
  text-align: center;
}
.customer .del {
  cursor: pointer;
}
.customer .bian {
  color: rgb(66, 66, 66);
  margin-right: 20px;
}
.bianjiye .title {
  text-align: center;
}
.header .downnav a {
  color: rgb(78, 78, 78);
  text-decoration: none;
  margin-left: 20px;
}
.header .downnav a.active {
  color: rgb(27, 27, 27);
  text-decoration: underline;
}
.header .downnav span.active {
  color: rgb(27, 27, 27);
  text-decoration: underline;
}
.bianhao0 a {
  display: block;
  text-align: center;
  margin-top: 5px;
  color: rgb(71, 71, 71);
  text-decoration: none;
}
.mingcheng3 a {
  display: block;
  text-align: center;
  margin-top: 5px;
  color: rgb(71, 71, 71);
  text-decoration: none;
}
.huodongguanli .toubu {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 20px;
  color: rgb(71, 70, 70);
}
.huodongguanli .title {
  padding-left: 20px;
  padding-top: 10px;
  color: rgb(71, 70, 70);
}
.huodongguanli .content {
  border: 1px solid lightcoral;
  margin-top: 20px;
  padding: 0 30px;
}
.huodongguanli .miantitle {
  margin-top: 10px;
}
.huodongguanli .uptitle .left {
  float: left;
  color: rgb(73, 72, 72);
}
.huodongguanli .uptitle .right {
  float: right;
}
.huodongguanli .miantitle .left {
  float: left;
}
.huodongguanli .miantitle .left span {
  margin-left: 20px;
}
.huodongguanli .miantitle .right {
  float: right;
  margin-bottom: 10px;
}
.huodongguanli .miantitle .right button {
  margin-left: 10px;
}
.huodongguanli .miantitle .right input {
  margin-left: 10px;
}
.huodongguanli .miantitle .right label {
  margin-left: 10px;
}
.huodongguanli .bianhaoconte .input {
  float: left;
  margin-left: 30px;
}
.huodongguanli .bianhaoconte .input input {
  display: block;
  margin-top: 12px;
}
.huodongguanli .bianhaoconte .bianhao0 {
  float: left;
  margin-left: 30px;
  text-align: center;
}
.huodongguanli .bianhaoconte .miaoshu2 {
  float: left;
  margin-left: 50px;
  text-align: center;
}
.huodongguanli .bianhaoconte .activenum {
  float: left;
  margin-left: 50px;
  text-align: center;
}
.huodongguanli .bianhaoconte .begintime {
  float: left;
  margin-left: 50px;
  text-align: center;
}
.huodongguanli .bianhaoconte .endtime {
  float: left;
  margin-left: 30px;
  text-align: center;
}
.huodongguanli .bianhaoconte .bianhao0 div,
.huodongguanli .bianhaoconte .miaoshu2 div,
.huodongguanli .bianhaoconte .activenum div,
.huodongguanli .bianhaoconte .begintime div,
.huodongguanli .bianhaoconte .endtime div {
  margin-top: 5px;
}
.small {
  padding-bottom: 2%;
  border: 1px solid black;
  margin-top: 2%;
  margin-bottom: 2%;
}
.da {
  border-bottom: 1px solid black;
}
