.helpcenter,
.callme,
.customer {
  padding: 0 10px;
  width: 70;
  margin: 0 auto;
  background-color: #fff;
}
.helpcenter .title .left {
  float: left;
  margin-right: 15px;
}
.title {
  padding-top: 20px;
}
.helpcenter .title .right {
  float: left;
}
.helpcenter .title .right span {
  margin-right: 15px;
  cursor: pointer;
}
.helpcenter .content {
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
}
.helpcenter .content h4 {
  text-align: center;
  margin-bottom: 10px;
}
.helpcenter .content p {
  text-indent: 2em;
  margin-top: 10px;
}
.callme {
  color: rgb(80, 80, 80);
}
.callme .title {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.callcontent label {
  float: left;
}
.callcontent input {
  float: right;
  margin-right: 80px;
}
.callcontent textarea {
  float: right;
  margin-right: 25px;
}
.callcontent {
  width: 50%;
  margin: 0 auto;
}
.callcontent div {
  margin-top: 10px;
}
.callme .btnbox {
  margin-top: 20px;
}
.callme .btnbox button {
  width: 100px;
  margin: 0 auto;
  display: block;
}
.customer .title {
  padding-left: 10px;
  padding-top: 20px;
  margin-bottom: 15px;
}
.customer .content {
  border: 1px solid black;
  width: 95%;
  margin: 0 auto;
}
.customer .content .add .tianjia {
  float: left;
}
.customer .content .add .daochu {
  float: right;
}
.customer .content .xuanze {
  margin: 20px 0;
}
.customer .content .xuanze .left {
  float: left;
}
.customer .content .xuanze .left span {
  margin-right: 15px;
}
.customer .content .xuanze .right {
  float: right;
}
#p2 {
  width: 80px;
}

.bianhaocontent .input {
  float: left;
}
.bianhaocontent .input input {
  display: block;
  margin-top: 12px;
}
.bianhaocontent .bianhao0 {
  float: left;
}
.bianhaocontent .mingcheng3 {
  float: left;
}
.bianhaocontent .huodongshu {
  float: left;
}
.bianhaocontent .yonghufenpei {
  float: left;
}
.bianhaocontent .miaoshu2 {
  float: left;
}
.bianhaocontent > .ban > div {
  margin-right: 50px;
}
.bianhaocontent > .ban > div > div {
  text-align: center;
  margin-top: 5px;
}
